<div class="c-loyalty-card">
    <div class="c-loyalty-card__title">
        <h2><perch:rewards id="memberFirstName"> <perch:rewards id="memberLastName"></h2>
    </div>
    <div class="c-loyalty-card__details">
        <p>Email: <perch:rewards id="memberEmail"></p>
        <p>Phone: <perch:rewards id="memberPhone"></p>
        <p>Address:</p>
        <div class="c-loyalty-card__address">
            <p><perch:rewards id="addressHouse" /></p>
            <p><perch:rewards id="addressStreet" /></p>
            <p><perch:rewards id="addressCity" /></p>
            <p><perch:rewards id="addressCounty" /></p>
            <p><perch:rewards id="addressPostcode" /></p>
        </div>
    </div>
</div>