<perch:before>
    <div class="c-cards">
</perch:before>
    <div class="c-cards__card">
        <h3><perch:rewards id="memberFirstName" /> <perch:rewards id="memberLastName" /></h3>
        <p><perch:rewards id="memberEmail" /></p>
        <a href="/?cardID=<perch:rewards id="loyaltyCardID" />">View</a>
        <a href="/?action=edit&cardID=<perch:rewards id="loyaltyCardID" />">Edit</a>
        <a href="/?action=delete&cardID=<perch:rewards id="loyaltyCardID" />">Delete</a>
    </div>
<perch:after>
    </div>
</perch:after>